{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "components/summaryList.njk" import summaryList %}
{% from "components/linkButton.njk" import linkButton %}
{% from "components/subNavigation.njk" import subNavigation %}
{% from "components/summaryCard.njk" import summaryCard %}
{% from "components/renderMessage.njk" import renderMessage %}

{% extends "base.njk" %}
{% block content %}

  {{ govukBackLink({ text: "Back", href: vm.backLink }) }}

  <div class="govuk-!-margin-bottom-6">
    {{ govukTag({ text: renderMessage(t, vm.assignmentStatusText), classes: vm.assignmentStatusTagClass }) }}
  </div>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ vm.title }}</h1>

  {{ summaryList(t, "summary", vm.summaryRows) }}

  {{ linkButton(t, vm.assignmentButton, "assignment", "govuk-button--secondary") }}

  {{ subNavigation(t, 1) }}

  {{ summaryCard(t, "costs-and-allocations", "pages.claim.costsAndAllocations.title", vm.costsAndAllocationsRows, { href: "#", text: "pages.claim.costsAndAllocations.action"}) }}

  <h2 class="govuk-heading-m" id="provider-and-client-details">{{ t('pages.claim.providerAndClientDetails') }}</h2>

  {{ summaryCard(t, "providers", 'pages.claim.providers.title', vm.providerRows )}}

  {{ summaryCard(t, "client", 'pages.claim.client.title', vm.clientRows )}}

  {{ summaryCard(t, "case", "pages.case.summary.title", vm.caseRows) }}

  {{ summaryCard(t, "certificate", "pages.case.certificateScope.title", vm.certificateScopeRows) }}

  {{ summaryCard(t, "proceedings", "pages.case.proceedings.title", vm.proceedingsRows) }}

  <div class="govuk-button-group">
    <a class="govuk-button" href={{vm.assessLink}}>{{ t('pages.claim.button.access') }}</a>
    <a class="govuk-button govuk-button--secondary" href="#">{{ t('pages.claim.button.requestProvider') }}</a>
  </div>

  <ul class="govuk-list" id="nav-links">
    <li>
      <a class="govuk-link" href="#" >{{ t('pages.claim.subNavigation.reviewAndAssess') }}</a>
    </li>
    <li>
      <a class="govuk-link" href="#" >{{ t('pages.claim.subNavigation.claimHistory') }}</a>
    </li>
    <li>
      <a class="govuk-link" href="#" >{{ t('pages.claim.subNavigation.allEvidence') }}</a>
    </li>
  </ul>

{% endblock %}
