{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "components/summaryList.njk" import summaryList %}
{% from "components/linkButton.njk" import linkButton %}
{% from "components/summaryCard.njk" import summaryCard %}

{% extends "base.njk" %}
{% block content %}

  {{ govukBackLink({ text: "Back", href: vm.backLink }) }}

  <div class="govuk-!-margin-bottom-6">
    {{ govukTag({ text: t(vm.statusText), classes: vm.statusTagClass }) }}
  </div>

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ vm.title }}</h1>

  {{ summaryList(t, vm.summary) }}

  {{ linkButton(t, vm.assignmentButton, "assignment", "govuk-button--secondary") }}

  {{ govukSummaryList({ classes: "govuk-!-margin-bottom-7", rows: vm.rows }) }}

  {{ summaryCard(t, t('pages.case.summary.title'), vm.caseSummaryRows) }}
  {{ summaryCard(t, t('pages.case.certificateScope.title'), vm.certificateScopeSummaryRows) }}
  {{ summaryCard(t, t('pages.case.proceedings.title'), vm.proceedingsSummaryRows) }}

  <div class="govuk-button-group">
    <a class="govuk-button" href={{vm.assessLink}}>{{ t('pages.claim.button.access') }}</a>
    <a class="govuk-button govuk-button--secondary" href="#">{{ t('pages.claim.button.request_provider') }}</a>
  </div>

  <ul class="govuk-list" id="nav-links">
    <li>
      <a class="govuk-link" href="#" >{{ t('pages.claim.link.review_and_assess') }}</a>
    </li>
    <li>
      <a class="govuk-link" href="#" >{{ t('pages.claim.link.claim_history') }}</a>
    </li>
    <li>
      <a class="govuk-link" href="#" >{{ t('pages.claim.link.all_evidence') }}</a>
    </li>
  </ul>

{% endblock %}
