@use "govuk-frontend/dist/govuk/index";
@use "@ministryofjustice/frontend/moj/all";

body:not(.js-enabled) a[data-module="back-link"][href="#"] {
  display: none;
}

body:not(.govuk-frontend-supported) a[data-module="back-link"][href="#"] {
  display: none;
}

.govuk-summary-list__value-split {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.govuk-summary-list__value-split-right {
  white-space: nowrap;
}