{% from "components/summaryRow.njk" import summaryRow %}

{% macro summaryList(t, id, rows) %}
  <ul class="govuk-list" id="{{ id }}">
    {% for row in rows %}
      <li class="govuk-!-margin-0">
        {{ summaryRow(t, row) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}