{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/renderMessage.njk" import renderMessage %}
{% from "components/renderSummaryValue.njk" import renderSummaryValue %}

{% macro summaryCard(t, id, cardTitleKey, rows, cardAction) %}

{% set govukRows = [] %}

{% for row in rows %}

  {% set keyText = renderMessage(t, row.key) %}

  {% set valueHtml %}
    {{ renderSummaryValue(t, row.value) }}
  {% endset %}

  {% set govukRow = {
    key: {
      text: keyText
    },
    value: {
      html: valueHtml
    }
  } %}

  {% if row.action %}
    {% set govukRow = {
      key: govukRow.key,
      value: govukRow.value,
      actions: {
        items: [
          {
            href: row.action.href,
            text: t('common.change'),
            visuallyHiddenText: keyText
          }
        ]
      }
    } %}
  {% endif %}

  {% set govukRows = govukRows.concat([govukRow]) %}

{% endfor %}

{% set card = {
  title: {
    text: t(cardTitleKey)
  }
} %}

{% if cardAction %}
  {% set card = {
    title: card.title,
    actions: {
      items: [
        {
          href: cardAction.href,
          text: t(cardAction.text)
        }
      ]
    }
  } %}
{% endif %}

{{ govukSummaryList({
  card: card,
  rows: govukRows,
  attributes: {
    "id": id
  }
}) }}

{% endmacro %}