{% from "components/summaryRow.njk" import summaryRow %}

{% macro summaryList(rows) %}
  <ul class="govuk-list" id="summary">
    {% for row in rows %}
      <li class="govuk-!-margin-0">
        {{ summaryRow(row) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}