{% from "components/renderTextOrMessage.njk" import renderTextOrMessage %}

{% macro summaryRow(t, row) %}
  <p class="govuk-body govuk-!-margin-0">
    {% set keyText = t(row.key.key, row.key.args) %}
    <strong>{{ keyText }}:</strong>

    {% if row.value.type == "text" %}
      {{ renderTextOrMessage(t, row.value.value) }}
    {% endif %}

    {% if row.action %}
      <span class="govuk-body-s">
        <a class="govuk-link" href="{{ row.action.href }}">
          {{ t('common.change') }}
          <span class="govuk-visually-hidden"> {{ keyText }}</span>
        </a>
      </span>
    {% endif %}
  </p>
{% endmacro %}