{% macro summaryRow(t, row) %}
  <p class="govuk-body govuk-!-margin-0">
    {% set keyText = t(row.key.message.key, row.key.message.args) %}
    <strong>{{ keyText }}:</strong>

    {% if row.value.href and row.value.text %}
      <a class="govuk-link" href="{{ row.value.href }}">
        {{ row.value.text }}
      </a>

    {% elif row.value.text %}
      {{ row.value.text }}
    {% elif row.value.html %}
      {{ row.value.html | safe }}
    {% else %}
      {{ t(row.value.message.key, row.value.message.args) }}
    {% endif %}

    {% if row.action %}
      <span class="govuk-body-s">
        <a class="govuk-link" href="{{ row.action.href }}">
          {{ t('common.change') }}
          <span class="govuk-visually-hidden"> {{ keyText }}</span>
        </a>
      </span>
    {% endif %}
  </p>
{% endmacro %}