{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/customSummaryListRowValue.njk" import customSummaryListRowValue %}

{% macro summaryCard(summaryList) %}

{% set rows = [] %}

{% for row in summaryList.rows %}

  {% set valueHtml %}
    {{ customSummaryListRowValue(row.value) }}
  {% endset %}

  {% set row = {
    key: {
      text: row.key.text | translate
    },
    value: {
      html: valueHtml | safe
    },
    actions: row.actions
  } %}

  {% set rows = rows.concat([row]) %}

{% endfor %}

{{ govukSummaryList({
  card: summaryList.card | translate,
  rows: rows,
  attributes: summaryList.attributes
}) }}

{% endmacro %}